.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------- */

body {
  font-family: "Poppins", sans-serif;
  background-image: url('https://cdn.esahubble.org/archives/images/screen/heic1509a.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.info-section {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  background-color: rgb(0,  0, 0,  0);
}


.info-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.clock-container {
  /* background-color: rgba(40, 38, 38, 0.675);
  color: rgb(250, 233, 233);
  /* position: absolute;   */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0);
  border-radius: 20px;
  padding: 12px;
  width: auto;
  height: 130px; 
  /* ------------ */
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  max-width: 350px;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: auto; 
}

.time-container {
  display: flex;
  align-items: center;
  flex-flow: column;
  /* ---- */
}

.clock-text {
  font-size: 15px;
}

.clock {
  font-size: 40px;
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
}

.date {
  font-size: 16tpx;
}

.time-text {
  font-size: 16px;
} 

.menu-section {
  position: fixed;
  pointer-events: none;
  z-index: 999;
  color: aliceblue;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-canvas {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: end; */
  flex-direction: column;
}

.home-menu {
  align-self: flex-start;
  padding: 12px;
}

.home-menu-container {
  display: flex;
  font-size: 19px;
  gap: 10px;
  text-decoration: none; 
  color: white;
}

.menu-container {
  width: 40%;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  align-self: flex-end;
}

.items-container {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 20px;
  padding-bottom: 12px;
  /* background-color: rgb(0,  0, 0,  0.371); */
}

.icon img {
  width: 35px;
}

.downbar {
  width: 100%;
  border: 1px solid white;
  height: 0px;
}