.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------------------Reset CSS--------------------------- */

#bg-overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}


body {
  font-family: "Poppins", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.date {
  font-size: 16tpx;
}

.time-text {
  font-size: 16px;
}

.menu-section {
  position: fixed;
  pointer-events: none;
  z-index: 999;
  color: aliceblue;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-section a,
.menu-section img {
  pointer-events: auto;
}

.menu-canvas {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: end; */
  flex-direction: column;
}

.home-menu {
  align-self: flex-start;
  padding: 12px;
}

.home-menu-container {
  display: flex;
  font-size: 19px;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.menu-container {
  width: 40%;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  align-self: flex-end;
}

.items-container {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 20px;
  padding-bottom: 12px;
  /* background-color: rgb(0,  0, 0,  0.371); */
}

.icon img {
  width: 35px;
}

.downbar {
  width: 100%;
  border: 1px solid white;
  height: 0px;
}

 *{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
 }

 body {
   min-height: 100vh;
   /* background: url("https://cdn.esahubble.org/archives/images/screen/heic1509a.jpg") center / cover no-repeat; */
   color: white;
   background-color: black
 }

 .dashboard {
   /* display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

 }

 .apps-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
 }


