.password-generator {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 20px;
  background: rgba(220, 189, 189, 0.08);
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  min-width: 280px;
}

.password-generator button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #132e6b92;
  color: aliceblue;
  height: 25px;
}

.password-generator input  {
  background: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    width: 60px;
    padding: 0;
}

